html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.header-link a
{
    margin: 0;
    padding: 0 !important;
    border: none !important;
}
.header-link a:hover
{
    margin: 0;
    padding: 0 !important;
    border: none !important;
}

.card
{

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    position: relative;
    display: block;
    background-color: #fff;
    margin-bottom: .75rem;
}

.card.clickable
{
    transition: all ease .2s;
    opacity: 0.7;
}

.card.clickable:hover
{
    opacity: 1;
}

.card .box-tools
{
    visibility: hidden;
}

.card:hover .box-tools
{
    visibility: visible;
}

.box-tools a.dropdown-toggle
{
    font-size: 12px;
    opacity: 0.5;
}

.box-tools a.dropdown-toggle:hover
{
    font-size: inherit;
    opacity: 1;
}

[data-next-form-wrapper]
{
    transition: all ease;
    height: 0px;
    overflow-y: hidden;
}
[data-next-form-wrapper].height-auto
{
    transition: all ease;
    height: auto !important;
}

.silab-hide
{
    transition: all;
    opacity:0;
    min-height: auto !important;
    height: 0px !important;
}

.silab-show
{
    transition: all;
    opacity:1;
    min-height: inherit !important;
    height: auto;
}

/**
* @author andxyz
* @link tomado de http://stackoverflow.com/a/18541484/3786841
*/
.icon-middle {
    vertical-align: middle;
}

.icon-bottom {
    vertical-align: text-bottom;
}

.icon-up {
    vertical-align: super;
}

.hoverable-tools .tools
{
    visibility: hidden;
}
.hoverable-tools .tools a
{
    transition: all ease .2s;
    opacity: 0.3;
}
.hoverable-tools:hover .tools
{
    visibility: visible;
}

.hoverable-tools:hover .tools a:hover
{
    opacity: 1;
}

.form-group span.select2.select2-container
{
    width: 100% !important;
}

.full-block {
    display:block;
}

